target: all

# Tắt đa người dùng để không cần gửi Org-ID từ Alloy
multitenancy_enabled: false 

server:
  http_listen_port: 9009
  log_level: info

common:
  storage:
    backend: s3
    s3:
      endpoint: minio:9000
      access_key_id: minioadmin
      secret_access_key: minioadmin
      insecure: true
      bucket_name: mimir-bucket

ingester:
  ring:
    replication_factor: 1
    kvstore:
      store: memberlist

blocks_storage:
  storage_prefix: blocks
  tsdb:
    dir: /data/mimir/tsdb